<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :profession %>
    <%= f.collection_select :profession_id, Profession.all, :id, :title, class: 'form-control' %>

      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: 'form-control' %>
    </div>


  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
    <%= f.hidden_field :client_id %>
  </div>

  <div class="field">
    <%= f.label :address1 %><br/>
    <%= f.text_field :address1 %><br/>
 </div>
 <div class="field">
   <%= f.label :address2 %><br/>
   <%= f.text_field :address2 %><br/>
 </div>

 <div class="field">
  <%= f.label :city %><br />
  <%= f.text_field :city %>
 </div>
 <div class="field">
  <%= f.label :state %><br />
  <%= f.text_field :state %>
 </div>
 <div class="field">
  <%= f.label :zipcode %><br />
  <%= f.number_field :zipcode %>
 </div>
 <div class="field">
   <p> length of job posting </p>
   <%= f.label :time %><br/>
  <%= f.number_field :time %>
 </div>
<br>
 <div class="field">
    <%= f.label :Add_Images %><br>
    <%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %>

    <%= f.fields_for :images do |image_fields| %>
    <%= image_fields.check_box :_destroy %>
    <%= image_fields.label :x %>
      <%= attachment_image_tag(image_fields.object, :file, :fill, 250, 250, format: "jpg") %>
    <% end %>
    <br>
 </div>

<br>

</br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
