
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <% @jobs.each do |job| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to job.title, job %>
        </h4>
        <small>
          <%= job.description %>
        </small>
        <small>
          <td><%= link_to 'Show', job %></td>
          <% if current_client %>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </small>
      </div>
    </div>
    <% end %>
  </div>
  <body>


<br>

<%= link_to 'New Job', new_job_path %>
