<!-- show only XX characters from job.description fix -->
  <%= notice %></p>
  <h3> all jobs </h3>
  <% if current_laborer %>
    <%= link_to "Get Premium Account", new_charge_path, class: 'btn btn-success' %>
  <% end %>
    <% if current_client %>
      <%= link_to 'Create New Job', new_job_path %>
    <% end %>
  </br>
  <p id="notice">
<div class="row">
  <div class="col-md-8">
  <% @jobs.each do |job| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
        <% unless job.selected_submission_id %>
        <td><%= attachment_image_tag(job.images.first, :file, :fill, 80, 80) %></td>
          <%= link_to job.title, job %>:
          <small>
           <%= job.description.truncate(29) %>
          </small>
          <small>
          <td><%= link_to 'view', job %></td>
          </small>
        <% end %>
  <% end %>
      </div>
    </div>
  </div>
</div>
<body>
