<div>
  <h1>
    <%= @job.title %>
    <small>
      Category: <%= @job.category.name %>
    </small>
  </h1>
  <h4>
    <%= @job.description %>
    <small>
      submitted <%= time_ago_in_words(@job.created_at) %> ago by <%= @job.client.name %>
    </small>
  </h4>
</div>
<div>
  <p>
    <% if @job.price? %>
    $ <%= @job.price %>
    <% else %>
    $
    <%end%>
  </p>
</div>
<div>
  <% if policy(@job).edit? %>
    <%= link_to "edit", edit_job_path(@job), class: "btn btn-primary" %>
    <%= link_to "Delete", @job , :method => :delete %>
  <% end %>
</div>
