
<div>
  <h1>
    <%= @job.title %>
    <% if @job.category %>
    <small>
      Category: <%= @job.category.name %>
    </small>
     <% else %>
     <p> No Category: </p>
     <% end %>
  </h1>
  <h4>
    <%= @job.description %>
    <small>
      <br>
      submitted <%= time_ago_in_words(@job.created_at) %> ago by <%= link_to @job.client.name, client_path(@job.client) %>
    </br>
    <br>
    <% if @job.time %>
     job posting expires in <%= time_ago_in_words(@job.created_at + @job.time.days) %>
    </small>
  </h4>
  <% end %>
</div>


<div>
  <br>
  <% if @client == pundit_user %>
    <% if @submissions.count > 0 %>
      <% if @job.selected_submission %>
        <p>
          Selected Submission: <%= @job.selected_submission.pretty_print %>.
          <%= link_to "Talk With #{@job.selected_submission.laborer.name}",
            new_conversation_path(job_id: @job.id) %>
        <p>
      <% else %>
        <%= form_for @job do |f| %>
          <%= f.collection_radio_buttons(:selected_submission_id, @submissions, :id, :pretty_print) do |b| %>
            <%= b.label(class: "radio_button", "data-value": b.value ) { b.radio_button(class: "radio_button") + b.text } %>
            <br/>
          <% end %>
          <%= f.submit 'Select Bid' %>
        <%end%>
      <%end%>
    <% else %>
      <b>There are no bids yet.</b>
    <% end %>
  <%else %>
    <br/>
    <ul>
     <% @submissions.each do |w| %>
      <b>$<%= w.price %>.00</b>.
     <% end %>
     </ul>
  <% end %>
 </br>
</div>


<div>
  <% if @client == pundit_user %>
    <% if policy(@job).edit? %>
      <%= link_to "edit", edit_job_path(@job), class: "btn btn-primary" %>
      <%= link_to "Delete", @job , :method => :delete %>
      <p>

      </p>
    <% end %>
  <% end %>
</div>

<% if current_laborer %>
  <%= form_for([@job, @submission]) do |s| %>

    <div class="form-group">
      <%= s.label :price %>
      <%= s.number_field :price %>
    </div>

    <%= s.submit %>
  <% end %>
<% end %>
