<!--      Job information  -->
<div>
  <h1>
    <%= @job.title %>
    <% if @job.category %>
      <small>
       Category: <%= @job.category.name %>
      </small>
    <% else %>
      <p> No Category: </p>
    <% end %>
  </h1>
  <h4>
    <%= @job.description %>
    <% if @job.profession %>
    :: <%= @job.profession.title %>
    <% end %>
    <small>
    <br>
      submitted <%= time_ago_in_words(@job.created_at) %> ago by <%= link_to @job.client.name, client_path(@job.client) %>
    </br>
    <br>
     <% if @job.time %>
      job posting expires in <%= time_ago_in_words(@job.created_at + @job.time.day) %>
     <% end %>
    </small>
  </h4>
</div>
<!---   bidding information -->
<div>
  <br>
  <% if @client == pundit_user %>
  <!--displays winning bid laborer and new message dialogue  -->
    <% if @submissions.count > 0 %>
      <% if @job.selected_submission %>
        <p>
          Selected Submission: <%= @job.selected_submission.pretty_print %>.
          <!-- if selected submission renders direct message with chosen laborer -->
          <%= link_to "Talk With #{@job.selected_submission.laborer.name}", new_message_path(to: @job.selected_submission.laborer.id) %>
        <p>
       <% else %>
          <!--displays current bids/submissions and laborer show view  -->
          <strong> choose the winning bid when ready. </strong>
          <br>
        <table>
          <% count = 0 %>
          <%= form_for @job do |f| %>
            <%= f.collection_radio_buttons(:selected_submission_id, @submissions, :id, :pretty_print) do |b| %>
            <%= count += 1 %>:
            <%= b.label(class: "radio_button", "data-value": b.value ) { b.radio_button(class: "radio_button") + b.text } %>
          <% end %>
          <br>
        </table>
        <table>
         <% count = 0 %>
         <% @submissions.each do | p | %>
         <%= count += 1 %>:
            <tr> <%= gravatar_for p.laborer, 45%>
            <tr> <%= link_to p.laborer.name + "'s" + " profile" + "\n", p.laborer %>
         <% end %>
         <div>
         <br>
           <%= f.submit 'Select Bid' %>
         <div>
      <%end%>
    <%end%>
    <% else %>
<!-- shows no bids text -->
    <b>There are no bids yet.</b>
    <% end %>
    <%else %>
    <br/>
   <!-- displays current bids to users viewing job -->
    <ul>
    <% @submissions.each do |w| %>
      <b>$<%= w.price %>.00</b>.
    <% end %>
    </div>
  <% end %>
  <br>
<!-- images array -->
   <p>
   <% @job.images.each do |i| %>
     <%= attachment_image_tag(i, :file, :fill, 370, 370, format: "jpg") %>
   <% end %>
   </p>
<!--     client edit job parameters -->
   <div>
   <% if @client == pundit_user %>
      <%= link_to "edit", edit_job_path(@job), class: "btn btn-primary" %>
      <%= button_to "delete", @job, :method=>:delete, :class=>:destroy %>

   <% end %>
   </div>
<!--    create new bid form -->
   <% unless @job.selected_submission_id %>
   <% if current_laborer %>
     <%= form_for([@job, @submission]) do |s| %>
      <div class="form-group">
      <%= s.label :price %>
      <%= s.number_field :price %>
      </div>
     <%= s.submit %>
     <% end %>
   <% end %>
<% end %>
