

<div>
  <h1>
    <%= @job.title %>
    <small>
      Category: <%= @job.category.name %>
    </small>
  </h1>
  <h4>
    <%= @job.description %>
    <small>
      <br>
      submitted <%= time_ago_in_words(@job.created_at) %> ago by <%= link_to @job.client.name, client_path(@job.client) %>
    </br>
    </small>
  </h4>
</div>
<div>
  <br>
  <% if @client == pundit_user %>
  <ul>
    <%= form_for @job do |f| %>
      <%= f.collection_radio_buttons(:selected_submission_id, @submissions, :id, :pretty_print) do |b| %>
        <%= b.label(class: "radio_button", "data-value": b.value ) { b.radio_button(class: "radio_button") + b.text } %>
        <br/>
      <% end %>
      <%= f.submit %>
    <% end %>
  <%else %>
    <br/>
    <% @submissions.each do |w| %>
      <b>$<%= w.price %>.00</b>.
   <% end %>
  <% end %>


  </ul>
</br>
</div>
<div>
  <% if @client == pundit_user %>
    <% if policy(@job).edit? %>
      <%= link_to "edit", edit_job_path(@job), class: "btn btn-primary" %>
      <%= link_to "Delete", @job , :method => :delete %>
      <p>

      </p>
    <% end %>
  <% end %>
</div>

<% if current_laborer %>
  <%= form_for([@job, @submission]) do |s| %>

    <div class="form-group">
      <%= s.label :price %>
      <%= s.number_field :price %>
    </div>

    <%= s.submit %>
  <% end %>
<% end %>
