<div>
  <h1>
    <%= @job.title %>
    <small>
      Category: <%= @job.category.name %>
    </small>
  </h1>
  <h4>
    <%= @job.description %>
    <small>
      submitted <%= time_ago_in_words(@job.created_at) %> ago by <%= @job.client.name %>
    </small>
  </h4>
</div>
<div>
  <br>
  <ul>
    <% @prices.each do |w| %>
    <b>$<%= w.price %>.00</b>
    from:<%= w.laborer.name %>.
    <% end %>
  </ul>
</br>
<p>
  <%= link_to "show_index_of_users", clients_path %>

</p>
</div>
<div>
  <% if policy(@job).edit? %>
  <%= link_to "edit", edit_job_path(@job), class: "btn btn-primary" %>
  <%= link_to "Delete", @job , :method => :delete %>

  <% end %>
</div>

<% if current_laborer %>
<%= form_for([@job, @submission]) do |s| %>

<div class="form-group">
  <%= s.label :price %>
  <%= s.number_field :price %>
</div>

<%= s.submit %>
<% end %>
<% end %>
<br>
create radio button loop
</br>
<% if current_client %>
<% @prices.each do |w| %>
<b>($<%= w.price %>.00)</b>
from:<%= w.laborer.name %>
<% end %>
<% end %>
