<p id="notice"><%= notice %></p>

<h1>Listing Laborers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laborers.each do |laborer| %>
      <tr>
        <td><%= link_to 'Show', laborer %></td>
        <td><%= link_to 'Edit', edit_laborer_path(laborer) %></td>
        <td><%= link_to 'Destroy', laborer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laborer', new_laborer_path %>
