<div class="row">
 <div class="col-md-8">
   <h1><%= @laborer.name %></h1>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         About: <%= @laborer.about %>
       </h4>
       <small>
        contact: <%= @laborer.email %>
       </small>
       <br>
       Rating:
       <br>
       ask a question:
     </br>
     </div>
   </div>
 </div>
<% if @laborer == pundit_user %>
<h3> Current Bids </h4>
<div class="row">
 <div class="col-md-8">
   <% @jobs.each do |job| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to job.title, job %>
       </h4>
       <small>
         <%= job.description %>
       </small>
     </div>
   </div>
   <% end %>
 </div>
<%end%>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_laborer_path(@laborer) %> |
<%= link_to 'Back', laborers_path %>

<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @laborer, pundit_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% raise %>
    <% if pundit_user %>
      professionalism: <%= rating_for @laborer, "professionalism" %>
      <br>

    <% end %>
  </div>
</div>
