<div class="row">
 <div class="col-md-8">
   <h1><%= @laborer.name %></h1>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">

         About: <%= @laborer.about %>
       </h4>
       <small>
        contact: <%= @laborer.email %>
       </small>
       <br>
       Rating:
       <% @laborer.reviews.average(:rating).to_i.times do %>
          <%= image_tag "star.png", :size => "25x25" %>
       <% end %>
       <br>
       ask a question: mailer compose
     </br>
     </div>
   </div>
 </div>
<% if @laborer == pundit_user %>
<h3> Current Bids </h4>
<div class="row">
 <div class="col-md-8">
   <% @jobs.each do |job| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to job.title, job %>
       </h4>
       <small>
         <%= job.description %>
       </small>
     </div>
   </div>
   <% end %>
 </div>
<%end%>


<h4>Reviews </h4>
<div class="row">
  <div class="col-md-8">
    <% @laborer.reviews.each do |review| %>
    <b> <%= review.title %> </b>
 by <%= review.author %>,  <%= time_ago_in_words(review.created_at)%> ago<br/>
    <%= review.content %> <br/>
  <% review.rating.times do  %>
<%= image_tag "star.png", :size => "25x25"%><br/>
    <% end %>
  </div>
    <% end %>


</div>
 <% if current_client %>
    <%= render partial: 'form' %>
 <% end %>


<p id="notice"><%= notice %></p>

<%= link_to 'Back', laborer_path %>
