

<p id="notice"><%= notice %></p>
<h1> <%= @client.name %> </h1>
<p> <%= @client.email %></p>
<%= link_to 'Back', clients_path %>
<% if @client == pundit_user %>
<%= link_to 'Edit', edit_client_registration_path(@client) %> |
<% end %>

<H3> OPEN-JOBS </H3>
<% j = @client.jobs.all %>
  <% j.each do |t| %>
    <%= link_to t.title.capitalize, t %>.
  <% end %>

<br>
<!-- displays chosen jobs -->
  <h3> Selected Jobs </h3>
  <% @client.jobs.each do |j| %>
   <% if j.selected_submission_id %>
    <%= link_to j.title.capitalize, j %>.
   <% end %>
 <% end %>
