<!DOCTYPE html>
<html>
<head>
  <title>Bid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-tabs">
    <li><%= link_to "bid" , root_path %></li>
    <div class="pull-right client-info">
     <% if current_client %>
      <%= link_to current_client.email, edit_client_registration_path(current_client) %>
      <%= link_to "Sign Out", destroy_client_session_path, method: :delete %>
      <li><%= link_to "Inbox", mailbox_inbox_path %></li>

     <% elsif current_laborer %>
      <%= link_to current_laborer.email, edit_laborer_registration_path(current_laborer) %>
      <%= link_to "Sign Out", destroy_laborer_session_path, method: :delete %>
      <li><%= link_to "Inbox", mailbox_inbox_path %></li>

     <%else%>
      <%= link_to "User,", new_client_session_path %>
      <%= link_to "Business", new_laborer_session_path %>: <b> log in</b>
      <%= link_to "Sign Up", new_client_registration_path %> or
      <%= link_to "Business sign up", new_laborer_registration_path %>
     <% end %>

    </div>
  </ul>

  <% flash.each do |key, value| %>
      <div class="text-center <%= flash_class(key) %>">
        <%= value %>
      </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
