<!DOCTYPE html>
<html>
<head>
  <title>Bid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <body>
  <ul class="nav nav-tabs">
    <li><%= link_to "bid" , root_path %></li>
    <div class="pull-right client-info">
      <% if current_client %>
        <%= link_to current_client.email, edit_client_registration_path(current_client) %>
        <%= link_to "Sign Out", destroy_client_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_client_session_path %> or
        <%= link_to "Sign Up", new_client_registration_path %>
      <% end %>
    </div>
  </ul>

  <div class="container">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% elsif flash[:error] %>
    <div class="alert"><%= flash[:error] %></div>
  <% end %>

<%= yield %>

</body>
</html>
